
body{     background: #EEEEEE;     width: 60vw;     }   
  div.title{
	width:25%;     color: #CFD8DC;     font-size:30px;

	}
	div.text{
	background-color: #B0BEC5;
	border-radius: 5px;
	padding:10px;
	margin-top:5px;
	height:40px;
	text-align: right;
	font-size: 40px;
	}

	.otr{

	
	border-radius: 20px;
 background-color: #263238;
 font-family: 'Orbitron', sans-serif;
 margin: 0 auto;
position: absolute;
top: 50%;
left:50%;
width:18em;

transform:translate(-50%,-50%);
}

	.table{
	width:100%;
	border-radius: 20px;
	}
	body{
	height:100%;
	}
	td{
	background-color:#637a74;
	text-align:center;
	padding: 16px;
	color: white;
	font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
	border-radius:10px;
	-webkit-box-shadow: -9px 22px 52px 5px rgba(0,0,0,0.83);
-moz-box-shadow: -9px 22px 52px 5px rgba(0,0,0,0.83);
box-shadow: -9px 22px 52px 5px rgba(0,0,0,0.83);
}



td#clr{
background-color: #C2185B;
}
td#clr1{
background-color: #C2185B;
}

td:hover
{
background-color:#A6CCC2;
}

td:active
{
	background-color:#4A907E;
	text-align:center;
	padding: 16px;
	color: white;
	font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
	border-radius:6px;
	-webkit-box-shadow: -9px 22px 52px 5px rgba(0,0,0,0.83);
-moz-box-shadow: -9px 22px 52px 5px rgba(0,0,0,0.83);
box-shadow: -9px 22px 52px 5px rgba(0,0,0,0.83);
}
#clr:hover
{
	background-color: #CC5785;
}
#clr:active
{
background-color:#42081F;
}
#clr1:hover
{
	background-color: #CC5785;
}
#clr1:active
{
background-color:#42081F;
}
@media (max-width:480px) {
.otr{
/* width:100%; 
width:70%;*/
padding: 7px;
border-radius: 20px;
}